@model BusinessProject.DataModelLayer.Entities.SystemUsers

    <img class="img-profile rounded-circle" src="~/img/upload/userimage/@Model.UserImg" style="max-width: 60px">
    <span class="ml-2 d-none d-lg-inline text-white small">@Model.FirstName @Model.Family</span>