@model BusinessProject.Core.ViewModels.ChangePasswordByAdminViewModel
<!-- The Modal -->
<div class="modal fade" id="ChangePassword">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#1abbcb; color:white; border-radius:5px 5px 0 0;">
                <p class="modal-title">Change Password - @ViewBag.FullName</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>


            </div>

            <form asp-controller="UserManager" asp-action="ChangePassByAdmin" method="post">
                <!-- Modal body -->
                <div class="modal-body">

                    <!--NewPassword-->
                    <div class="d-flex justify-content-between">
                        <label asp-for="NewPassword" class="control-label col-md-4 col-xs-12"></label>
                        <div class="col-md-8 col-xs-12">
                            <input asp-for="NewPassword" autocomplete="off" type="password" class="form-control " placeholder="Your New Password..." />
                        </div>
                    </div>

                    <!--ConfirmPassord-->
                    <div class="d-flex justify-content-between">
                        <label style="margin-top:10px" asp-for="ConfirmNewPassword" class="control-label col-md-4 col-xs-12"></label>
                        <div class="col-md-8 col-xs-12">
                            <input style="margin-top:10px" asp-for="ConfirmNewPassword" autocomplete="off" type="password" class="form-control " placeholder="Confirm Password..." />
                        </div>
                    </div>

                    <input asp-for="userId" value="@ViewBag.userId" hidden />
                    <div id="divmsg" class="col-md-12 col-xs-12 alert hidden " style="text-align:center; margin-top:20px">

                    </div>
                </div>

                <div class="modal-footer" style="text-align:left;">
                    <button type="button" data-dismiss="modal" style="width:80px; margin-top:10px" class="btn btn-dark">Back</button>
                    <a class="btn" id="btnok" style="color:white; background-color:#0d9890;margin-top:10px"> Change Password </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btnok").on('click', function () {
        var newPass = $("#NewPassword").val();
        var confirmNewPass = $("#ConfirmNewPassword").val();

        if (newPass == "" || newPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('New password is not entered');
            return false;
        }
        if (confirmNewPass == "" || confirmNewPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('Confirm password is not entered');
            return false;
        }
        if (newPass.length < 4 || newPass.length > 30) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('The password should be between 4 and 30 characters');
            return false;
        }
        if (newPass != confirmNewPass) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('The password is not the same as confirm password');
            return false;
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("ChangePassByAdmin","UserManager")',
            data: {
                'userId': $("#userId").val(),
                'NewPassword': newPass,
                'ConfirmNewPassword': confirmNewPass,
            }
        }).done(function (res) {
            if (res.status == 'ok') {
                $("#divmsg").removeClass('hidden').removeClass('alert-danger').addClass('alert-success').html('Password has been changed successfuly');
            }
            else if (res.status == 'error') {
                 $("#divmsg").removeClass('hidden').addClass('alert-danger').html('An error occured while saving the data! ');
            }
        });
    });
</script>