@model BusinessProject.Core.ViewModels.JobsChartViewModel
@{
    ViewData["Title"] = "Define a new job for system";
}


<div class="public">
    <div class="public-header">
        <span>
            <i class="ti-user"></i>
            Update <span style="color:#ff6a00">@ViewBag.parentname</span>
        </span>
    </div>

    <div class="wholcontent">
        <div class="col-md-8 offset-2 mt-4 pt-4" style="box-shadow:3px 3px 1px 0 gray; border:1px solid gray; border-radius:2px; padding:20px 15px; height:200px">
            <form asp-controller="JobsChart" asp-action="EditJobsChart" method="post">
                <!-- JobsChartName--->
                <div>
                    <label class="control-label col-md-3 col-xs-12 ">Job's Name</label>
                    <div class=" col-md-9 col-xs-12">
                        <input asp-for="JobsName" class="custominput form-control" placeholder="Job Name..." autocomplete="off" />
                        <span asp-validation-for="JobsName" class="text-danger"></span>
                    </div>
                </div>

                <!--jobs level-->
                <input asp-for="JobsLevel" hidden />
                <input asp-for="JobsID" hidden />
                <!--btn submit--->
                <div class="form-group col-xs-12" style="margin-top:15px; text-align:center">
                    <input type="submit" value="save changes" class="btn btn-primary " />
                </div>
            </form>
        </div>
    </div>
</div>

